---
#pulic:
AccessModifierOffset: -2
AlignAfterOpenBracket: DontAlign
AlignConsecutiveAssignments: true
#AlignEscapedNewlines: Right
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: true
BinPackParameters: true
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Attach
BreakBeforeTernaryOperators: true
#BreakConstructorInitializers: BeforeComma
ColumnLimit: 80
#CompactNamespaces: true
ConstructorInitializerAllOnOneLineOrOnePerLine: false
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true
#DerivePointerAlignment: false
#FixNamespaceComments: true
ForEachMacros: ['BOOST_FOREACH', 'RANGES_FOR', 'FOREACH', ]
IndentCaseLabels: false
#IndentPPDirectives: AfterHash
IndentWidth: 2
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
SortIncludes: false

# Force pointers to the type
DerivePointerAlignment: false
PointerAlignment: Left

# Put space after = and after control statements
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements

SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
Standard: Auto
UseTab: Never
BreakConstructorInitializersBeforeComma: false
...

